<li>
      <p>
            <% if (locals.user && locals.user.id == comment.user.id) { %>
              <small>
                <a href="/comments/destroy/<%= comment.id %>">Delete</a>
            </small>
            <% } %>
  
            <%= comment.content %>
            <br>
            <small>
              <%= comment.user.email %>
            </small>
          </p>

</li>
