<footer>

    <p>
        &#169; Coding Ninjas, All Rights Reserved
    </p>

    <div id="btns">
        <button><a href="">Home</a></button>
        <button><a href="">Profile</a></button>
    </div>

</footer>
